@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');


body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.navigation {
	background: #F5F5F5;
	height: 48px;

}
.navigation__wrap {
	max-width: 1200px;
	margin: 0 auto;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	padding: 12px 10px 12px 10px;
}
.navigation__wrap--header {
	padding: 0 10px 0 10px;
}

.navigation__surfaced {
	padding: 12px 24px 12px 24px;
}
.navigation__surfaced:first-child {
	border-top: 1px solid #DCE1E5;
}
.navigation__surfaced:last-child {
	border-radius: 0 0 2px 2px;
}

.location-icn::before {
	content: '';
	background: url('../img/location_icon.png') no-repeat left;
	height: 24px;
	width: 10px;
	position: absolute;
	left: -17px;
}

.dropdown-icn::after {
	content: '';
	background: url('../img/dropdown_icon.png') no-repeat right;
	display: inline-block;
	width: 12px;
	height: 12px;
	padding-left: 4px;

}
.menu__city {
	margin-left:auto ;
}

.navigation__phone {
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}
.navigation__phone a {
	color: #052A40;
	text-decoration: none;
}



.header__menu {
	width: 100%;
	height: 60px;
	background: #052A40;
	z-index: 10;
	left: 0px;
	right: 0px;
	top: 0px;
}

.header__surfaced {
	padding: 12px 24px 12px 24px;

}
.header__surfaced a {
	color: #F5F5F5 !important;
	font-weight: normal !important;
	line-height: 24px !important;
	font-size: 14px !important;
}

.header__surfaced a:hover {
	color: #00BCF0 !important;
}
.header__surfaced:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.header__surfaced:last-child {
	border-radius: 0 0 2px 2px;
	padding-bottom: 24px;
}
.header__left {
    margin-top: -4px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__center {
	display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__button {
	width: 163px;
	height:60px;
	background: linear-gradient(180deg, #FA2869 0%, #F91B60 100%);
	box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-weight: 600;
	cursor: pointer;
	font-size: 14px;
}
.header__button:hover {
	background: #fa3975
}

.header__mobile_menu {
	width: 36px;
	height: 36px;
}

.menu__nav, .menu__nav ul {
	list-style:none;
	margin:0 0 0 -1px; 
	padding:0;
} 
.menu__nav li {
	float:left;
	position:relative;
	display:block;
	margin:0 1px;
	z-index:999;
	background: #F5F5F5;   
}

.menu__nav li a {
	display:block;
	padding: 0 12px 0 0;
	text-decoration:none;
	font-weight: normal;
	font-size: 14px;
	color: #052A40;
	line-height: 24px;
	webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.menu__nav li.current {
	background:#C5D4EA;
}

.menu__nav li a:hover {
	color: #00BCF0;
}

.menu__nav ul {
	position:absolute;
	display:none;
	left: -24px;
	padding-top: 12px;
}

.menu__nav ul li {
	width: 204px;
	float:left;
	box-sizing: border-box;
}

.menu__nav--dark ul {
	padding-top: 18px;
	white-space: nowrap;
}

.menu__nav--dark ul li {
	width: 260px;
	float:left;
	padding-right: 12px;
	box-sizing: content-box;
}

.menu__nav--dark {
	/* padding-top: 6px; */
}

.menu__nav--dark li {
	background: #052A40;
	z-index:99;
}

.menu__nav--dark li a {
	font-weight: 600;
	line-height: 24px;
	font-size: 14px;
	color: #FFFFFF;
	webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}


@media (max-width: 1095px) {

	.header__button {
		width: 60px;
		background: #FA2869 url(../img/phone-call_icon.png) center center no-repeat;
		margin-right: -10px;
	}
	.header__button:hover {
		background: #FA2869 url(../img/phone-call_icon.png) center center no-repeat;
	}

	.header__button span {
		display:none;
	}
	.menu__nav--dark li a {
		font-size: 13px;
	}
	.menu__nav--dark ul {
		white-space: inherit;
	}
	.menu__nav--dark ul li {
		width: 150px;
	}
}
@media (min-width: 950px) {
	.header__mobile_menu {
		display: none;
	}
}

@media (max-width: 950px) {
	.header__center {
		display: none;
	}
	.header__mobile_menu {
		display: block;
		padding-top: 10px;
	} 
	.header__logo img {
		width: 108px;
	}
	.menu__left {
		display: none;
	}
	.menu__city {
		margin-left: 20px;
	}
	.header__left {
		margin: 0;
	}

}